p5.dom.js
p5.js
p5.sound.js
*.png
*.pdf
*.jpg
processing.js
web-export
libraries
tools
modes
sketch.properties
.DS_Store
application.macosx

*.plist
*.graffle
*.webarchive
*.png
*.pdf
*checkpoint.ipynb

# XCode C++
*.hmap
*dgph
*dgph~
*info.dat
*.dia
*.o
*.xcactivitylog
Cache.db
*.xcscheme
*.xcindexdb-shm
*.xcindexdb-wal
DerivedData/
*.xcindexdb-wal
*.xcindexdb-wal
*.xcindexdb
*.xcindexdb-shm
# *.pbxproj
*.xcworkspacedata
*.xcuserstate

# VisualStudio C++
*.suo
*.tlog
*.log
*.pch
*.sln
*.obj
*.filters
*.idb
*.pdb
*.exe
*.ilk
*.ipch
*.vcxproj

*.xcbkptlist

MultiFactorMonteCarlo/MultiFactorMonteCarlo.xcodeproj/project.pbxproj

*.pbxproj
